<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantastica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>
<link rel="stylesheet" href="/css/form-pizza.css">
<form id="form-pizza" method="POST" action="/edit/<%= pizzaEditar.id %>?_method=PUT" enctype="multipart/form-data">
	<label>
		Nome:
		<input type="text" name="nome" id="nome" value="<%= pizzaEditar.nome %>">
	</label>
	<label>
		Ingredientes:
		<input type="text" name="ingredientes" id="ingredientes" value="<%= pizzaEditar.ingredientes.join(', ') %>">
	</label>
	<label>
		Preço:
		<input type="number" name="preco" id="preco" step="0.01" value="<%= pizzaEditar.preco %>">
	</label>
	<label>
		Foto:
		<img src="<%= pizzaEditar.img %>">
		<div>Clique para selecione nova imagem</div>
		<input type="file" name="img" id="img">
	</label>
	<button type="submit">Salvar</button>
</form>
</body>
</html>